[submodule "MareAPI"]
	path = MareAPI
	url = https://github.com/universalconquistador/MareSynchronosAPI.git
[submodule "Dalamud-VFXEditor"]
	path = Dalamud-VFXEditor
	url = https://github.com/universalconquistador/VFXEditor-PlayerSync
